# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

.idea
*.iml
.vscode/*

_output/*
serena.log
lessons/lesson1/main.go
lessons/lesson2/main.go
lessons/lesson3/main.go
lessons/lesson4/main.go
lessons/lesson5/main.go
lessons/lesson6/main.go
